$black: #1c1c1e;
$white: #fff;
$yellow: #ffda2f;
$yellow-lighten: #ffe366;
$yellow-darken: #cca700;
$gray: #5f5f5f;
$gray-lighten: #999999;
$gray-modal: #2c2c2e;
$gray-modal-inner: #414143;
$gray-modal-inner-lighten: #5a5a5e;
$gray-modal-inner-darken: #28282a;
$red: #ee5d44;
$red-lighten: #f28673;
$red-darken: #bb2b11;
